
#imageP{
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
}

 #searchDiv{
 	margin-left: -10px;
 	margin-right: -10px;
 	height: 40px;
 	background-color: #ddd5d5
 }


 #choose1{
 	margin-left: 10px;
 	margin-right: 10px;
 	margin-top: 30px;
 	height: 350px;
 	background-color: #ddd
 }

#choose2{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 350px;
    background-color: #ddd
}

#choose3{
     margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 350px;
    background-color: #ddd
}

#choose4{
     margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 350px;
    background-color: #ddd
}

 #phone1{
 	margin-top: 30px;
 	margin-left: 95px;
 	height: 250px;
    width: 200px;
 }

 #phone2{
 	margin-top: 30px;
 	margin-left: 90px;
 	height: 250px;
 width: 200px;

 }

 #phone3{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
    width: 200px;
     
 }

 #phone4{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
  width: 200px;

 }

 .contact1{
 	background-color: #6666ff;
 	border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 140px;
 }
 .contact2{
 	background-color: #6666ff;
 	border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
 }

.contact3{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.contact4{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

 

#car1{
    margin-top: 30px;
    margin-left: 95px;
    height: 250px;
 width: 200px;
}

#car2{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
 width: 200px;
}

#car3{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
 width: 200px;
}

#car4{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
 width: 200px;
}

.contact2-1{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 140px;
}

.contact2-2{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.contact2-3{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.contact2-4{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

#pc1{
    margin-top: 30px;
    margin-left: 50px;
    height: 220px; 

}

#pc2{
    margin-top: 30px;
    margin-left: 90px;
    height: 220px;

}

#pc3{
    margin-top: 30px;
    margin-left: 90px;
    height: 220px;

}

#pc4{
    margin-top: 30px;
    margin-left: 90px;
    height: 220px;

}

.contact3-1{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 100px;
 
}

.contact3-2{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 190px;
}

.contact3-3{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 190px;
}

.contact3-4{
    background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 190px;
}

#animal1{
     margin-top: 30px;
    margin-left: 95px;
    height: 250px;
width: 200px;
}

#animal2{
     margin-top: 30px;
    margin-left: 90px;
    height: 250px;
width: 200px;
}

#animal3{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
width: 200px;
}

#animal4{
    margin-top: 30px;
    margin-left: 90px;
    height: 250px;
width: 200px;
}

.contact4-1{
     background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 140px;
}

.contact4-2{
     background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.contact4-3{
     background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.contact4-4{
     background-color: #6666ff;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}


#black{
    background-color: black;
}

#code{
    color: white;
}

#btnSubmet{
    background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer
}

.black1{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 140px;
 }
 .black2{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
 }

.black3{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.black4{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.black2-1{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 140px;
 }
 .black2-2{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
 }

.black2-3{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

.black2-4{
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 170px;
}

